In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
matches = pd.read_csv('matches.csv')

In [4]:
matches = pd.DataFrame(matches)

# Problem 1
### Which team has won/lost maximum number of matches while chasing?

### Filtering the data on basis if the chasing team won the match or lost the match and counting such teams

In [5]:
matches.loc[matches['team2'] == matches['winner']]['winner'].value_counts().idxmax()

'Kolkata Knight Riders'

In [6]:
matches.loc[matches['team2'] != matches['winner']]['team2'].value_counts().idxmax()

'Delhi Daredevils'

# Problem 2

### Which toss decision is best for each ground?

### There are three results if the batting team has won more matches then choose to bat, else if the fielding team has won more matches then choose to field, else it is equal.

In [35]:
# Ques 2
t = matches.loc[:,['venue','team1', 'team2', 'winner']]
# creating bat column and setting it to True where the batting team won the match
t['bat'] = (t['team1'] == t['winner'])
# creating bat column and setting it to True where the fielding team won the match
t['field'] = (t['team2'] == t['winner'])
t = t[['venue','bat','field']]
tt1 =  pd.DataFrame(t.groupby('venue')['bat'].apply(lambda x: x[x == True].count()))
tt2 =  pd.DataFrame(t.groupby('venue')['field'].apply(lambda x: x[x == True].count()))
t2sol = pd.merge(tt1, tt2, on='venue')
t2sol['decision'] = t2sol.apply(lambda row: ('bat' if row['bat']>row['field'] else 'equal') if row['bat'] >= row['field'] else 'field', axis=1)
t2sol['decision']

venue
ACA-VDCA Stadium                                        field
Barabati Stadium                                          bat
Brabourne Stadium                                         bat
Buffalo Park                                              bat
De Beers Diamond Oval                                   field
Dr DY Patil Sports Academy                              field
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium       bat
Dubai International Cricket Stadium                     field
Eden Gardens                                            field
Feroz Shah Kotla                                        field
Feroz Shah Kotla Ground                                 field
Green Park                                              field
Himachal Pradesh Cricket Association Stadium              bat
Holkar Cricket Stadium                                  field
IS Bindra Stadium                                       field
JSCA International Stadium Complex                      field
Kingsmead                                                 bat
M Chinnaswamy Stadium                                   field
M. A. Chidambaram Stadium                               equal
M. Chinnaswamy Stadium                                  equal
MA Chidambaram Stadium, Chepauk                           bat
Maharashtra Cricket Association Stadium                 field
Nehru Stadium                                             bat
New Wanderers Stadium                                   field
Newlands                                                  bat
OUTsurance Oval                                         equal
Punjab Cricket Association IS Bindra Stadium, Mohali    equal
Punjab Cricket Association Stadium, Mohali              field
Rajiv Gandhi International Stadium, Uppal               field
Rajiv Gandhi Intl. Cricket Stadium                        bat
Sardar Patel Stadium, Motera                            equal
Saurashtra Cricket Association Stadium                  field
Sawai Mansingh Stadium                                  field
Shaheed Veer Narayan Singh International Stadium        field
Sharjah Cricket Stadium                                 field
Sheikh Zayed Stadium                                      bat
St George's Park                                        field
Subrata Roy Sahara Stadium                                bat
SuperSport Park                                         field
Vidarbha Cricket Association Stadium, Jamtha              bat
Wankhede Stadium                                        field
Name: decision, dtype: object

# Problem 3

### Which player has won maximum number of MoM awards while chasing?

In [47]:
print("Player who was man of the match maximum times while chasing :", matches.loc[matches['team2'] == matches['winner']].groupby('player_of_match')['id'].count().idxmax())

Player who was man of the match maximum times while chasing : YK Pathan

# Problem 4

### Which batsman has played maximum number of dot balls?

In [40]:
deliveries_df = pd.read_csv('deliveries.csv')

In [46]:
print("Batsman who has played maximum number of dot balls :", deliveries_df.loc[deliveries_df['batsman_runs'] == 0].groupby('batsman')['match_id'].count().idxmax())

Batsman who has played maximum number of dot balls : V Kohli

# Problem 5

### Which batsmen came to crease but never got a chance to face a ball?

In [20]:
t = deliveries_df[['match_id', 'batsman', 'non_striker']].drop_duplicates().reset_index(drop = True)
for id, group in t.groupby('match_id'):
    set1 = set(group['batsman'])
    set2 = set(group['non_striker'])
    st = set2 - set1
    if len(st) != 0:
        print(id, "->", st)

2 -> {'MJ McClenaghan'}
3 -> {'DR Smith'}
4 -> {'R Bhatia'}
10 -> {'A Nehra'}
11 -> {'Sandeep Sharma'}
21 -> {'CH Morris'}
28 -> {'MG Johnson', 'MJ McClenaghan'}
29 -> {'MK Pandey'}
31 -> {'PJ Cummins'}
37 -> {'S Aravind'}
43 -> {'A Nehra', 'JD Unadkat'}
45 -> {'S Aravind'}
51 -> {'S Nadeem'}
54 -> {'Sandeep Sharma'}
64 -> {'PP Ojha'}
71 -> {'AB Dinda'}
74 -> {'JDP Oram'}
75 -> {'I Sharma'}
79 -> {'Joginder Sharma'}
80 -> {'SB Bangar', 'DP Vijaykumar'}
82 -> {'A Nehra'}
90 -> {'A Kumble'}
91 -> {'S Sreesanth'}
95 -> {'GD McGrath'}
109 -> {'A Nel'}
111 -> {'Z Khan'}
115 -> {'MM Patel'}
118 -> {'PR Shah'}
119 -> {'DW Steyn'}
120 -> {'T Kohli', 'PP Chawla'}
125 -> {'DL Vettori', 'L Balaji'}
129 -> {'R Vinay Kumar'}
130 -> {'K Goel'}
131 -> {'MS Gony'}
135 -> {'Z Khan'}
138 -> {'AB Agarkar'}
139 -> {'RR Powar'}
140 -> {'Y Venugopal Rao'}
141 -> {'A Nehra', 'S Tyagi'}
148 -> {'A Kumble'}
150 -> {'SL Malinga'}
155 -> {'RP Singh'}
157 -> {'PP Chawla'}
158 -> {'PJ Sangwan'}
159 -> {'S Tyagi'}
160 -> {'SK Warne'}
163 -> {'AB Agarkar'}
164 -> {'Jaskaran Singh'}
170 -> {'DS Kulkarni', 'SL Malinga'}
176 -> {'Z Khan', 'SA Asnodkar'}
183 -> {'R Sathish'}
187 -> {'AD Mathews'}
188 -> {'SL Malinga'}
193 -> {'AA Jhunjhunwala'}
195 -> {'PP Ojha'}
196 -> {'WP Saha'}
198 -> {'SK Warne'}
199 -> {'PP Ojha'}
202 -> {'C Ganapathy'}
204 -> {'Y Venugopal Rao'}
206 -> {'S Anirudha'}
210 -> {'PP Ojha', 'Harmeet Singh'}
214 -> {'P Kumar'}
216 -> {'SB Jakati'}
227 -> {'Kamran Khan'}
232 -> {'SB Jakati'}
233 -> {'Harmeet Singh'}
247 -> {'KA Pollard'}
250 -> {'S Nadeem'}
258 -> {'MK Tiwary'}
266 -> {'AB Agarkar'}
268 -> {'A Mithun'}
271 -> {'M Kartik'}
273 -> {'TL Suman'}
275 -> {'MV Boucher'}
276 -> {'JA Morkel'}
283 -> {'RP Singh'}
285 -> {'SK Trivedi'}
286 -> {'I Sharma'}
287 -> {'SL Malinga'}
289 -> {'WP Saha'}
291 -> {'A Mithun'}
292 -> {'DS Kulkarni', 'SL Malinga'}
302 -> {'SB Jakati'}
305 -> {'RG Sharma'}
307 -> {'S Badrinath'}
310 -> {'R Sharma'}
313 -> {'TP Sudhindra'}
318 -> {'M Vijay'}
320 -> {'Z Khan'}
329 -> {'B Kumar'}
331 -> {'PA Patel'}
343 -> {'P Awana'}
345 -> {'AB Agarkar'}
347 -> {'LR Shukla'}
353 -> {'M Kartik'}
357 -> {'M Morkel'}
366 -> {'PA Reddy'}
370 -> {'MM Patel'}
376 -> {'DW Steyn'}
377 -> {'GB Hogg'}
382 -> {'UT Yadav'}
385 -> {'S Sreesanth'}
386 -> {'DP Nannes'}
388 -> {'A Mishra'}
400 -> {'L Balaji', 'P Awana'}
405 -> {'MS Gony'}
406 -> {'JH Kallis'}
412 -> {'PP Chawla'}
416 -> {'I Sharma'}
417 -> {'AT Rayudu'}
424 -> {'G Gambhir'}
431 -> {'M Rawat'}
434 -> {'Harbhajan Singh', 'AT Rayudu'}
435 -> {'I Sharma'}
445 -> {'LJ Wright'}
449 -> {'A Mishra'}
451 -> {'S Kaul'}
452 -> {'S Badrinath'}
454 -> {'MM Patel'}
461 -> {'DW Steyn'}
463 -> {'NM Coulter-Nile'}
465 -> {'BW Hilfenhaus'}
466 -> {'AR Patel'}
468 -> {'MA Starc'}
471 -> {'STR Binny', 'YS Chahal'}
473 -> {'Z Khan'}
478 -> {'R Vinay Kumar'}
480 -> {'WD Parnell'}
484 -> {'AP Tare'}
490 -> {'R Ashwin'}
494 -> {'KK Cooper'}
497 -> {'RN ten Doeschate'}
511 -> {'R Vinay Kumar', 'Parvez Rasool'}
513 -> {'KK Cooper'}
514 -> {'M Morkel', 'SP Narine'}
519 -> {'DJ Muthuswami'}
520 -> {'TG Southee'}
521 -> {'DJ Bravo'}
522 -> {'PP Chawla'}
524 -> {'R Vinay Kumar'}
528 -> {'R Dhawan', 'MK Tiwary'}
530 -> {'J Suchith'}
539 -> {'JJ Bumrah'}
549 -> {'Harbhajan Singh'}
554 -> {'MM Sharma', 'Mandeep Singh', 'YS Chahal'}
560 -> {'GJ Bailey', 'UT Yadav'}
564 -> {'BE Hendricks'}
566 -> {'HV Patel'}
568 -> {'SN Khan'}
575 -> {'RA Jadeja'}
579 -> {'MG Johnson'}
585 -> {'MJ McClenaghan'}
590 -> {'HV Patel'}
592 -> {'I Sharma'}
596 -> {'SP Narine'}
597 -> {'KH Pandya', 'MM Sharma'}
598 -> {'A Nehra'}
601 -> {'P Kumar'}
602 -> {'GB Hogg'}
604 -> {'S Kaushik'}
606 -> {'VR Aaron'}
614 -> {'DJ Bravo'}
615 -> {'STR Binny'}
616 -> {'R Bhatia'}
622 -> {'GJ Maxwell'}
634 -> {'M Morkel', 'BB Sran'}
7896 -> {'Washington Sundar'}
7899 -> {'SS Iyer', 'C Munro'}
7905 -> {'BB Sran'}
7906 -> {'S Mavi'}
7908 -> {'JD Unadkat'}
7912 -> {'CH Morris'}
7914 -> {'JD Unadkat'}
7917 -> {'Mohammed Siraj'}
7919 -> {'V Shankar'}
7920 -> {'RA Jadeja'}
7921 -> {'Basil Thampi'}
7923 -> {'RA Jadeja'}
7924 -> {'MJ McClenaghan'}
7925 -> {'J Archer'}
7926 -> {'KV Sharma'}
7927 -> {'R Ashwin'}
7930 -> {'PP Chawla'}
7934 -> {'JP Duminy'}
7935 -> {'V Shankar'}
7936 -> {'J Archer'}
7940 -> {'JP Duminy', 'BA Stokes'}
7947 -> {'S Gill', 'S Kaul'}
7948 -> {'Mustafizur Rahman'}
7951 -> {'PP Chawla'}
7952 -> {'P Krishna'}
11139 -> {'JJ Bumrah'}
11145 -> {'M Markande'}
11146 -> {'HV Patel'}
11148 -> {'JD Unadkat'}
11149 -> {'M Ur Rahman'}
11152 -> {'I Sharma'}
11310 -> {'A Joseph'}
11318 -> {'KH Pandya'}
11320 -> {'Kuldeep Yadav'}
11322 -> {'Mohammed Siraj', 'KA Pollard'}
11323 -> {'JD Unadkat'}
11324 -> {'YK Pathan'}
11325 -> {'K Paul', 'KA Pollard', 'I Sharma'}
11326 -> {'KD Karthik'}
11330 -> {'DW Steyn', 'SN Thakur'}
11331 -> {'SV Samson'}
11332 -> {'DJ Bravo'}
11335 -> {'Imran Tahir'}
11336 -> {'S Kaul'}
11337 -> {'UT Yadav'}
11340 -> {'UT Yadav'}
11342 -> {'Rashid Khan'}
11347 -> {'SP Narine'}
11413 -> {'B Kumar', 'TA Boult'}
11415 -> {'JJ Bumrah'}

# Problem 6

### Which bowler has hit for maximum number of 1s/2s/3s/4s/6s?

In [41]:
lst = [1,2,3,4,6]
for i in lst:
    print("Bowler who conceded maximum " + str(i) + "s :",deliveries_df.loc[deliveries_df['total_runs'] == i].groupby('bowler')['match_id'].count().idxmax())

Bowler who conceded maximum 1s : Harbhajan Singh
Bowler who conceded maximum 2s : DJ Bravo
Bowler who conceded maximum 3s : P Kumar
Bowler who conceded maximum 4s : UT Yadav
Bowler who conceded maximum 6s : PP Chawla

# Probem 7

### Which batsman got stumped out maximum number of times?

In [43]:
print("Batsman who got stumped maximum number of times :", deliveries_df.loc[deliveries_df['dismissal_kind'] == 'stumped'].groupby('batsman')['match_id'].count().idxmax())

Batsman who got stumped maximum number of times : SK Raina

# Problem 8

### Which non-striker has been part of maximum number of runouts?

In [45]:
print("Non-striker who got involved in most number of runouts :", deliveries_df.loc[deliveries_df['dismissal_kind'] == 'run out'].groupby('non_striker')['match_id'].count().idxmax())

Non-striker who got involved in most number of runouts : KD Karthik

# 5 New Queries

# Query 1

 ## How toss winning affects the match winner

In [21]:
tosswin_win = matches['id'][matches['toss_winner'] == matches['winner']].count()
total_matches=matches['id'].count()
Success_rate = ((matches[matches['toss_winner'] == matches['winner']].count())/(total_matches))*100

print("Number of matches in which Toss winner is the game winner is :",tosswin_win, "out of",total_matches," ie.,", Success_rate["id"],"%" )

Number of matches in which Toss winner is the game winner is : 393 out of 756  ie., 51.98412698412699 %

# Query 2

# In which city does each team has won more matches ?

In [17]:
a = matches.groupby(['winner','city']).size().reset_index(name='win_counts')
a = a.sort_values("win_counts",ascending=False)
b = pd.DataFrame(a.groupby("winner").head(1)).reset_index(drop = True)
b

                         winner           city  win_counts
0                Mumbai Indians         Mumbai          53
1         Kolkata Knight Riders        Kolkata          45
2           Chennai Super Kings        Chennai          40
3              Rajasthan Royals         Jaipur          32
4           Sunrisers Hyderabad      Hyderabad          30
5   Royal Challengers Bangalore      Bangalore          30
6              Delhi Daredevils          Delhi          27
7               Kings XI Punjab     Chandigarh          22
8        Rising Pune Supergiant           Pune           5
9                Delhi Capitals          Delhi           4
10                Pune Warriors           Pune           4
11                Gujarat Lions         Rajkot           3
12              Deccan Chargers        Cuttack           3
13      Rising Pune Supergiants  Visakhapatnam           2
14         Kochi Tuskers Kerala          Kochi           2

# Query 3

# Each Season Winner

In [19]:
season_winner = matches.groupby('season')['season','winner'].tail(1)
season_winner.sort_values(by="season",ascending=True)

     season                 winner
116    2008       Rajasthan Royals
173    2009        Deccan Chargers
233    2010    Chennai Super Kings
306    2011    Chennai Super Kings
380    2012  Kolkata Knight Riders
456    2013         Mumbai Indians
516    2014  Kolkata Knight Riders
575    2015         Mumbai Indians
635    2016    Sunrisers Hyderabad
58     2017         Mumbai Indians
695    2018    Chennai Super Kings
755    2019         Mumbai Indians

# Query 4

# Teams won by maximum runs

In [20]:
maximum_runs = matches.sort_values('win_by_runs', ascending = False)[:5].head(5)
maximum_runs[['season','winner','win_by_runs']]

     season                       winner  win_by_runs
43     2017               Mumbai Indians          146
619    2016  Royal Challengers Bangalore          144
59     2008        Kolkata Knight Riders          140
556    2015  Royal Challengers Bangalore          138
410    2013  Royal Challengers Bangalore          130

# Query 5

# Team won by marginal runs

In [37]:
min_runs = matches[matches['win_by_runs'] == 1]
min_runs['winner'].value_counts()

Mumbai Indians                 3
Royal Challengers Bangalore    2
Kings XI Punjab                2
Delhi Daredevils               1
Gujarat Lions                  1
Chennai Super Kings            1
Name: winner, dtype: int64